.About_Main {
    /* display: flex; */
    min-height: 75vh;
    width: 50vw;
    margin: auto;
}

.About_Intro {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 3em;
    margin: auto;
    padding-top: 16%;
    padding-bottom: 2%;
    color: #293a3f;
    
}

.About_Description {
    font-family: 'Montserrat', sans-serif;
    font-size: 1.1em;
    font-weight: 200;
    line-height: 1.5;
    margin: auto;
    color: #999999;
}

.About_Description p {
    margin: 30px;
}

/* .Resume {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 5%;
}

.Resume_Button {
    border: 1px solid #999999;
    border-radius: 3px;
    padding: 10px;
    background: #999999;
    color: #F7F7F7;
    width: 80px;
    font-family: 'Lato', sans-serif;
} */
